@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <p>“A única maneira de fazer um excelente trabalho é amar o que você faz.” - Coco Chanel</p>
</div>
